<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head('Hello Test')">
</head>
<body>
    <header class="navbar sticky-top bg-KB-Gray flex-md-nowrap p-0 shadow" data-bs-theme="dark" th:replace="~{fragments/common :: head_menu}">
    </header>

    <div class="container-fluid">
        <div class="row">
            <div th:replace="~{fragments/common :: sidebar('board')}">
            </div>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h3">사업관리</h1>
                </div>
                <div>총 건수 : <span th:text="${#lists.size(boards)}"></span> </div>
                <div class="table-responsive small">
                    <table class="table">
                        <thead class="table-light">
                        <tr>
                            <th scope="col">번호</th>
                            <th scope="col">제목</th>
                            <th scope="col">작성자</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="board : ${boards}">
                            <td th:text="${board.id}">Mark</td>
                            <td th:text="${board.title}">Otto</td>
                            <td>@mdo</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <a type="button" class="btn btn-warning" th:href="@{/board/form}">등록</a>
                </div>
            </main>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js" integrity="sha384-gdQErvCNWvHQZj6XZM0dNsAoY4v+j5P1XDpNkcM3HJG1Yx04ecqIHk7+4VBOCHOG" crossorigin="anonymous"></script>
    <script src="dashboard.js"></script>
</body>
</html>