.bg-KB-Gray {
    --bs-bg-opacity: 1;
    background-color: rgba(96,88,76)!important;
}
.text-KB-yellow-p {
    --bs-text-opacity: 1;
    color: rgba(255,188,0)!important;
}
.text-KB-yellow-n {
    --bs-text-opacity: 1;
    color: rgba(255,204,0)!important;
}