<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="dashboard.css" th:href="@{/dashboard.css}" rel="stylesheet">
    <link href="custom.css" th:href="@{/custom.css}" rel="stylesheet">
    <title th:text="${title}">Hello, KBDS</title>
</head>
<body>
    <header class="navbar sticky-top bg-KB-Gray flex-md-nowrap p-0 shadow" data-bs-theme="dark" th:fragment="head_menu">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6 text-KB-yellow-p" href="#" th:href="@{/}">KBDS PMS</a>

        <!--    <ul class="navbar-nav flex-row d-md-none">-->
        <!--        <li class="nav-item text-nowrap">-->
        <!--            <button class="nav-link px-3 text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSearch" aria-controls="navbarSearch" aria-expanded="false" aria-label="Toggle search">-->
        <!--                <svg class="bi"><use xlink:href="#search"></use></svg>-->
        <!--            </button>-->
        <!--        </li>-->
        <!--        <li class="nav-item text-nowrap">-->
        <!--            <button class="nav-link px-3 text-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">-->
        <!--                <svg class="bi"><use xlink:href="#list"></use></svg>-->
        <!--            </button>-->
        <!--        </li>-->
        <!--    </ul>-->

        <!--    <div id="navbarSearch" class="navbar-search w-100 collapse">-->
        <!--        <input class="form-control w-100 rounded-0 border-0" type="text" placeholder="Search" aria-label="Search">-->
        <!--    </div>-->
    </header>
    <div class="container-fluid">
        <div class="row">
            <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary" th:fragment="sidebar(menu)">
                <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="sidebarMenuLabel">KBDS</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center gap-2" href="#" th:href="@{/}" th:classappend="${menu} == 'home' ? 'active'" th:attr="aria-current=${menu} == 'home' ? 'page'">
                                    <i class="bi-speedometer"></i>
                                    Dashboard
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center gap-2" href="#" th:href="@{/board/list}" th:classappend="${menu} == 'board' ? 'active'" th:attr="aria-current=${menu} == 'board' ? 'page'">
                                    <i class="bi-buildings-fill"></i>
                                    사업관리
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center gap-2" href="#" th:href="@{/board/manPowerList}" th:classappend="${menu} == 'manPower' ? 'active'" th:attr="aria-current=${menu} == 'manPower' ? 'page'">
                                    <i class="bi-people-fill"></i>
                                    인력관리
                                </a>
                            </li>
                        </ul>

                        <hr class="my-3">

                        <ul class="nav flex-column mb-auto">
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center gap-2" href="#">
                                    <i class="bi bi-gear-fill"></i>
                                    Settings
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center gap-2" href="#">
                                    <i class="bi bi-person-gear"></i>
                                    Sign out
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--main str-->
            <!--main end-->
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js" integrity="sha384-gdQErvCNWvHQZj6XZM0dNsAoY4v+j5P1XDpNkcM3HJG1Yx04ecqIHk7+4VBOCHOG" crossorigin="anonymous"></script>
    <script src="dashboard.js"></script>
</body>

</html>