<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head(title)">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

        <!-- Custom styles for this template -->
        <link href="carousel.css" th:href="@{/carousel.css}" rel="stylesheet">

        <title th:text="${title}">Hello, Bootstrap</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" th:fragment="head_menu(menu)">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Carousel</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link" href="#" th:href="@{/}" th:classappend="${menu} == 'home' ? 'active'" th:attr="aria-current=${menu} == 'home' ? 'page'">홈</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" th:href="@{/board/list}" th:classappend="${menu} == 'board' ? 'active'" th:attr="aria-current=${menu} == 'board' ? 'page'">게시판</a>
                        </li>
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link disabled" aria-disabled="true">Disabled</a>-->
<!--                        </li>-->
                    </ul>
                </div>
            </div>
        </nav>
    </body>

</html>